.menuSweep{
  display: inline-flex;
  cursor: pointer;

  /* gradient split */
  background: linear-gradient(to right, #D44A47 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;

  /* clip background to text */
  -webkit-background-clip: text;
  background-clip: text;

  /* initial text color */
  color: white;
  -webkit-text-fill-color: transparent;

  transition: background-position 0.3s ease-out;
}

.menuSweep:hover {
  background-position: left bottom;

}